<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ADMIN/IdeaProjects/AT21_MAVEN_PROJECT/AT21_MAVEN_PROJECT">
        <classes>
            <class name="Day11_TestNG"></class>
        </classes>
    </test>
</suite>
<suite name="Extent Report Demo">

<listeners>
    <listener class-name ="Utils.ExtentListeners"/>
</listeners>

<test name="Login Tests">
    <classes>
        <class name="test.LoginTest"/>
    </classes>
</test> <!-- Test -->
</suite> <!-- Suite -->
